In [1]:
import pandas as pd

# Load the datasets
df_syntactic = pd.read_csv("/Users/elifakdeniz/Desktop/Thesis_New/Notebooks/Jupyter_notebook/Future Engineering/syntatic features/final_dataset_with_syntactic_features.csv")
df_sentiment = pd.read_csv("/Users/elifakdeniz/Desktop/Thesis_New/Notebooks/Jupyter_notebook/Future Engineering/sentiment/2_final_dataset_deduplicated.csv")
df_tone = pd.read_csv("/Users/elifakdeniz/Desktop/Thesis_New/Notebooks/Jupyter_notebook/Future Engineering/job_postings_with_tone_features.csv")

In [2]:
print(df_syntactic.columns)
print(df_sentiment.columns)
print(df_tone.columns)

Index(['job_id', 'company_name', 'title', 'description', 'max_salary',
       'pay_period', 'location', 'company_id', 'views', 'min_salary',
       'formatted_work_type', 'applies', 'original_listed_time',
       'remote_allowed', 'job_posting_url', 'application_type', 'expiry',
       'formatted_experience_level', 'listed_time', 'sponsored', 'work_type',
       'currency', 'compensation_type', 'normalized_salary', 'zip_code',
       'fips', 'log_applications', 'desc_char_count', 'desc_word_count',
       'applications', 'application_proportion', 'industry', 'employee_count',
       'follower_count', 'time_recorded', 'employee_bin', 'application_level',
       'application_share_pct', 'lemmas', 'word_count', 'sentence_count',
       'avg_word_length', 'ttr', 'flesch_reading_ease', 'flesch_kincaid_grade',
       'personal_pronoun_ratio', 'inclusive_pronoun_ratio',
       'third_person_ratio', 'modal_verb_ratio', 'personal_count',
       'inclusive_count', 'third_person_count', 'modal_count', 'desc_tokens',
       'description_clean', 'anger', 'disgust', 'fear', 'joy', 'neutral',
       'sadness', 'surprise', 'avg_sent_length', 'avg_tree_depth'],
      dtype='object')
Index(['job_id', 'company_name', 'title', 'description', 'max_salary',
       'pay_period', 'location', 'company_id', 'views', 'min_salary',
       'formatted_work_type', 'applies', 'original_listed_time',
       'remote_allowed', 'job_posting_url', 'application_type', 'expiry',
       'formatted_experience_level', 'listed_time', 'sponsored', 'work_type',
       'currency', 'compensation_type', 'normalized_salary', 'zip_code',
       'fips', 'log_applications', 'desc_char_count', 'desc_word_count',
       'applications', 'application_proportion', 'industry', 'employee_count',
       'follower_count', 'time_recorded', 'employee_bin', 'application_level',
       'application_share_pct', 'lemmas', 'word_count', 'sentence_count',
       'avg_word_length', 'ttr', 'flesch_reading_ease', 'flesch_kincaid_grade',
       'personal_pronoun_ratio', 'inclusive_pronoun_ratio',
       'third_person_ratio', 'modal_verb_ratio', 'personal_count',
       'inclusive_count', 'third_person_count', 'modal_count', 'desc_tokens',
       'description_clean', 'anger', 'disgust', 'fear', 'joy', 'neutral',
       'sadness', 'surprise'],
      dtype='object')
Index(['job_id', 'company_name', 'title', 'description', 'max_salary',
       'pay_period', 'location', 'company_id', 'views', 'min_salary',
       'formatted_work_type', 'applies', 'original_listed_time',
       'remote_allowed', 'job_posting_url', 'application_type', 'expiry',
       'formatted_experience_level', 'listed_time', 'sponsored', 'work_type',
       'currency', 'compensation_type', 'normalized_salary', 'zip_code',
       'fips', 'log_applications', 'desc_char_count', 'desc_word_count',
       'applications', 'application_proportion', 'industry', 'employee_count',
       'follower_count', 'time_recorded', 'employee_bin', 'application_level',
       'application_share_pct', 'lemmas', 'word_count', 'sentence_count',
       'avg_word_length', 'ttr', 'flesch_reading_ease', 'flesch_kincaid_grade',
       'personal_pronoun_ratio', 'inclusive_pronoun_ratio',
       'third_person_ratio', 'modal_verb_ratio', 'personal_count',
       'inclusive_count', 'third_person_count', 'modal_count', 'desc_tokens'],
      dtype='object')

In [3]:
# Check shapes and preview
print("Syntactic shape:", df_syntactic.shape)
print("Sentiment shape:", df_sentiment.shape)
print("Tone shape:", df_tone.shape)

# Check missing values
print("Missing in syntactic:\n", df_syntactic.isnull().sum())
print("Missing in sentiment:\n", df_sentiment.isnull().sum())
print("Missing in tone:\n", df_tone.isnull().sum())

# Sample values
df_syntactic.sample(5)
df_sentiment.sample(5)
df_tone.sample(5)

Syntactic shape: (21063, 64)
Sentiment shape: (21063, 62)
Tone shape: (71915, 54)
Missing in syntactic:
 job_id                 0
company_name           1
title                  0
description            0
max_salary         13862
                   ...
neutral                0
sadness                0
surprise               0
avg_sent_length        0
avg_tree_depth         0
Length: 64, dtype: int64
Missing in sentiment:
 job_id              0
company_name        1
title               0
description         0
max_salary      13862
                ...
fear                0
joy                 0
neutral             0
sadness             0
surprise            0
Length: 62, dtype: int64
Missing in tone:
 job_id                            0
company_name                      1
title                             0
description                       0
max_salary                    45945
pay_period                    42864
location                          0
company_id                        0
views                             0
min_salary                    45945
formatted_work_type               0
applies                           0
original_listed_time              0
remote_allowed                55474
job_posting_url                   0
application_type                  0
expiry                            0
formatted_experience_level    15696
listed_time                       0
sponsored                         0
work_type                         0
currency                      42864
compensation_type             42864
normalized_salary             42864
zip_code                      18070
fips                          21605
log_applications                  0
desc_char_count                   0
desc_word_count                   0
applications                      0
application_proportion            0
industry                          0
employee_count                    0
follower_count                    0
time_recorded                     0
employee_bin                      0
application_level                 0
application_share_pct             0
lemmas                            0
word_count                        0
sentence_count                    0
avg_word_length                   0
ttr                               0
flesch_reading_ease               0
flesch_kincaid_grade              0
personal_pronoun_ratio            0
inclusive_pronoun_ratio           0
third_person_ratio                0
modal_verb_ratio                  0
personal_count                    0
inclusive_count                   0
third_person_count                0
modal_count                       0
desc_tokens                       0
dtype: int64

,job_id,company_name,title,description,max_salary,pay_period,location,company_id,views,min_salary,...,flesch_kincaid_grade,personal_pronoun_ratio,inclusive_pronoun_ratio,third_person_ratio,modal_verb_ratio,personal_count,inclusive_count,third_person_count,modal_count,desc_tokens
35755,3901356509,Planet Pharma,Administrative Assistant I,3-month initial contract (possibility of exten...,NaN,HOURLY,"Parsippany, NJ",2474662.0,45.0,NaN,...,43.081205,0.000000,0.000000,0.0,0.009091,0.0,0.0,0.0,0.0,"['month', 'initial', 'contract', 'possibility'..."
19959,3898164312,Vaco,HR Generalist,"Payroll professionals, are you looking for rew...",30.0,HOURLY,"Phoenix, AZ",11229.0,14.0,25.0,...,59.825000,0.075472,0.004717,0.0,0.018868,0.0,0.0,0.0,0.0,"['payroll', 'professionals', 'are', 'you', 'lo..."
24150,3899523557,Apex Systems,Quality Assurance Laboratory Technician,Quality Assurance Lab Technician Pay Rate: $19...,22.0,HOURLY,"Cincinnati, OH",4787.0,27.0,19.0,...,42.292439,0.000000,0.000000,0.0,0.007463,0.0,0.0,0.0,0.0,"['quality', 'assurance', 'lab', 'technician', ..."
57584,3904366090,GE Aerospace,AMP Lean Ops Engineer,Job Description Summary A proficient Lean Data...,NaN,NaN,"West Chester, OH",570550.0,17.0,NaN,...,152.607095,0.000000,0.007435,0.0,0.009294,0.0,0.0,0.0,0.0,"['job', 'description', 'summary', 'a', 'profic..."
44812,3901985484,Aquent,Communications Writer,Communications Writer – Contractor (Technology...,55.0,HOURLY,"New York, NY",4433.0,26.0,50.0,...,205.358293,0.000000,0.026918,0.0,0.010767,0.0,0.0,0.0,0.0,"['communications', 'writer', 'contractor', 'te..."

In [4]:
# Merge step by step
df_merged = df_tone.merge(df_syntactic, on="job_id", how="left")
df_merged = df_merged.merge(df_sentiment, on="job_id", how="left")

In [5]:
df_merged.to_csv("/Users/elifakdeniz/Desktop/Thesis_New/Notebooks/Jupyter_notebook/Future Engineering/merged_all_features.csv", index=False)